---
layout: archive
---

<h3>Welcome</h3>

<p>I am a PhD researcher at <a href="https://www.mpi-inf.mpg.de">Max Plank Institute fot Informatics</a> in the Department of Databases and Information Systems under the supervision of <a href="http://people.mpi-inf.mpg.de/~srazniew/">Simon Razniewski</a>. Knowledge base semantics and natural language processing are my reasearch interests. As a PhD reesarcher I am also affliated with the <a href="https://www.graduateschool-computerscience.de/">Saarbrücken Graduate School of Computer Science</a>.</p>
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
 -->