---
layout: archive
---

<h3>Welcome</h3>

<p>I am a PhD <a href="http://people.mpi-inf.mpg.de/~ghoshs/">researcher</a> at <a href="https://www.mpi-inf.mpg.de">Max Plank Institute for Informatics</a> in the Department of Databases and Information Systems under the supervision of <a href="http://people.mpi-inf.mpg.de/~srazniew/">Simon Razniewski</a>. Knowledge base semantics and natural language processing are my research interests. As a PhD researcher I am also affiliated with the <a href="https://www.graduateschool-computerscience.de/">Saarbrücken Graduate School of Computer Science</a>.</p>

<h4>Recent News</h4>

<ul>
  <li>
    Demo accepted at ESWC 2020.<br>
    <i>CounQER: A System for Discovering and Linking Count Information in Knowledge Bases.</i> <br>
    Shrestha Ghosh, Simon Razniewski, Gerhard Weikum. <br>
    <a href="https://arxiv.org/pdf/2005.03529.pdf"><img src="images/pdf-icon.png" width="20px"></a> | <a href="https://counqer.mpi-inf.mpg.de/spo/">demo</a>
  </li>
  <li>
    Paper appearing in the Journal of Web Semantics 2020. <br>
    <i>Uncovering Hidden Semantics of Set Information in Knowledge Bases.</i> <br>
    Shrestha Ghosh, Simon Razniewski, Gerhard Weikum. <br>
    <a href="https://www.sciencedirect.com/science/article/pii/S1570826820300317?via%3Dihub">JWS</a> | <a href="https://arxiv.org/pdf/2003.03155.pdf"><img src="images/pdf-icon.png" width="20px"></a>
  </li>
</ul>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}
CoRR abs/2005.03529
{% include paginator.html %}
 -->